:root {
    --color-white: #FFFFFF;
    --color-primary: #C271FF;
    --color-black: #000000;
    --color-dark-blue: #071629;

    --img-smile-white-height: 30px;
    --img-smile-white-width: 37px;

}

html body {
    font-family: 'Source Sans Pro';
}

.bg-hero {
    background-image: url('assets/images/pic_1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.bg-purple {
    background-color: var(--color-primary);
}

.bg-membership, .bg-dark-blue {
    background-color: var(--color-dark-blue);
}

.bg-price {
    background-image: url(assets/images/pic_2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.bg-courses {
    background-image: url(assets/images/pic_3.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.bg-input {
    background-color: rgba(256,256,256,0.25) !important;
    border: none !important;
}

.custom-select {
    background: rgba(256,256,256,0.25) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='9' viewBox='0 0 13 9' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 9L13 0H0L6.5 9Z' fill='white'/%3E%3C/svg%3E")no-repeat right .75rem center/8px 10px !important;
}

.custom-select option {
    color: black;
}

::placeholder {
    color: #FFFFFF !important;
}

a.hover-primary:focus,
a.hover-primary:hover {
    color: var(--color-primary)!important;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    text-underline-offset: .5rem;
}

.img_smile_white {
    height: var(--img-smile-white-height);
    width: var(--img-smile-white-width);
}

.mb-6 {
    margin-bottom: 5rem;
}

.smile-purple {
    height: 45px;
    width: 36px;
}

.img-star {
    width: 15px;
    height: 15px;
}

.font-size-sm {
    font-size: 12px;
}

.font-size-md {
    font-size: 14px;
}

.font-size-large {
    font-size: 16px;
}

.font-size-xlarge {
    font-size: 18px;
}

.font-size-xxlarge {
    font-size: 32px;
}

.font-size-xxxlarge {
    font-size: 60px;
}

.font-size-banner {
    font-size: 120px;
}

@media screen and (max-width: 576px) {
    .font-size-banner {
        font-size: 60px;
    }
}

.font-coiny {
    font-family: 'Coiny';
}

.btn-purple {
    height: 44px;
    font-weight: 600;
    background-color: var(--color-primary);
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
    border-radius: 22px;
    border: none;
}

.btn-purple:hover {
    opacity: 0.9;
}

.text-purple {
    color: var(--color-primary);
}

.avatar {
    width: 150px;
    height: 150px;
}

[class^="holberton_school-icon-arrow"] {
    font-size: 5rem;
}

/* Section: Popular Video Carousel
    =========================*/

.thumb-1 {
    background-image: url(assets/images/thumbnail_1.jpg);
}

.thumb-2 {
    background-image: url(assets/images/thumbnail_2.jpg);
}

.thumb-3 {
background-image: url(assets/images/thumbnail_3.jpg);
}

.thumb-4 {
background-image: url(assets/images/thumbnail_4.jpg);
}

.avatar-sm {
    height: 30px;
    width: 30px;
}

[class^="thumb-"] {
    width: 100%;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
  }

[class^="thumb-"] img {
  width: 60px;
  height: 60px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #C271FF;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* 
.carousel-inner .active,
.carousel-inner .active + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
    margin-right: auto;
}

.carousel-inner .carousel-item-right.active {
  transform: translateX(25%);
} */